body {
    font-family: cursive;
    background-color: darkmagenta;
    color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
}


form {
    background-color: wheat;
    padding: 50px;
    border-radius: 10px;
    width: 200%;
    max-width: 600px;
    margin-bottom: 40px;
}

form input, form button, form textarea {
    width: 100%;
    padding: 9px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
}

form input, form textarea {
    background-color: wheat;
}

form button {
    background-color: greenyellow;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

form button:hover {
    background-color: gray;
}

section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    background-color:white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: crimson;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    form {
        width: 90%;
    }

    li {
        padding: 10px;
    
    }
}
